header {
    text-align: center;
}

section h2 {
    text-align: center;
}

section{
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.historia{
    background-color: rgb(143, 162, 255);
}

.sucursal {
    background-color: rgb(143, 162, 255);
}

.productoServicios {
    background-color: rgb(176, 114, 247);
}


.fila-superior {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.fila-productos-servicios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    align-items: start;
}


footer {
    background-color: #04001c;
    padding: 24px;
    border-top: 4px solid #1800a2;
    align-items: start;
}

footer a{
    display: block;
    margin-bottom: 10px;
}