header {
    text-align: center;
}

main {
    padding: 20px;
}

p {
    font-size: 1.1rem;
    margin: 0 0 20px 0;
}

h2 {
    margin: 0 0 20px 0;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    align-content:center;
    object-fit: cover;
}

video {
    display: block;
    margin: 20px;
    max-width: 100%;
    height:auto;
    align-content:center;
    object-fit:cover;
}

.fila-productos-servicios {
    display: grid;
    grid-template-columns: 1.4fr 0.6fr;
    gap: 20px;
    align-items: start;
}

.fila-productos-servicios article h2 {
    margin-top: 0;
    margin-bottom: 12px;
}

/* arriba, derecha, abajo, izquierda*/
ul {
    margin: 20px 0 20px -20px;
}

.links ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    padding: 0;
}

.links li {
    border: 2px solid #1800a2;
    border-radius: 8px;
    padding: 8px 16px;
    margin-left: 30px;
}

.links a {
    text-decoration: none;
    color: #1800a2;
    font-weight: bold;
}

.links a:hover {
    color: #b072f7;
}


.inicio {
    background-color: rgb(154, 219, 239);
}

.historia{
    background-color: rgb(175, 188, 255);
}

.sucursal {
    background-color: rgb(119, 211, 210);
}

.productoServicios {
    background-color: rgb(126, 224, 170);
}


footer {
    margin-top: 20px;
    background-color: rgb(253, 176, 235);
    padding: 24px;
    border-top: 4px solid rgb(246, 150, 209);
    align-items: start;
}

footer a{
    display: block;
    color: rgb(16, 1, 44);
    margin-bottom: 10px;
}